*{
    margin: 0;
    padding: 0;
}

#section1{
    /* height: 30rem; */
    background-image: url(mountains.jpeg);
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    background-attachment: fixed;
}

#section1 h1{
    text-align: center;
    font-size: 10rem;
    font-weight: bolder;
    padding: 15rem;
    color: #fff;
}

#feature_section h1{
    font-size: 3rem;
    text-align: center;
    padding-top: 3rem;
}

.feature_container{
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.feature_items{
    width: 25%;
    height: 12rem;
    background-color: rgba(238, 238, 238, 0.1);
    padding: 2.5rem;
    box-shadow: 2px 3px 3px rgba(210, 210, 210, 0.6);
    border-radius: 2px;
}

.feature_items p{
    text-align: justify;
}

.feature_items h2{
    text-align: center;
    padding-bottom: 0.5rem;
}

#middle{
    background-color: rgba(210, 210, 210, 0.3);
}


.feature_items i{
   
    font-size: 30px;
    margin-left: 7rem;
    padding-bottom: 0.5rem;
    
}

i{
    color: rgba(135, 137, 148, 0.9);
}

/* #about_us{
    padding-top: 5%;
} */

#about_us_section{
    background-image: url(river1.jpeg);
    background-size: cover;
    padding: 10% 5%;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
}

#about_us  h1{
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
}

#about_us{
    padding: 5%;
   
}

#about_us  p{
    text-align: justify;
    font-size: 1.15rem;
}

#reach{
    background-image: url(forest.jpeg);
    background-size: cover;
    padding: 10% 5%;
    background-position: center;
    background-attachment: fixed;
}

#reach_section{
 padding: 5%;  
 text-align: center;
}

#reach_section h1{
    font-size: 3rem;
    text-align: center;
    padding: 1.5rem;
}


#reach_section p{
    padding: 0.5rem;
}
.button{
    width: 150px;
    height: 40px;
    border-radius: 20px;
    margin: 20px;
    font-size: 1rem;
   
}


#blue{
    background-color: rgba(163, 167, 186, 0.8);
    border: 2px solid rgba(135, 137, 148, 0.9);

}

#white{
    border: 2px solid rgba(119, 116, 116, 0.1);
}


#foot{
    background-image: url(tresandriver.jpeg);
    background-size: cover;
    padding: 10% 5%;
    background-position: center;
    background-attachment: fixed;
}

#footer_section{
    background-color: rgba(163, 167, 186, 0.8);
}

.footer{
    padding: 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

.footer-items i{
    font-size: 30px;
    margin-left: 1rem;
    padding-bottom: 0.8rem;
}

.footer-items h2{
    padding: 0.5rem;
}

#copyright{
    text-align: center;
    padding-bottom: 1rem;
}


